<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        ">
    <bean id="car" class="com.tang.pojo.Car">
        <property name="id" value="1"/>
        <property name="name" value="大货车"/>
    </bean>

    <bean id="truckCar" class="com.tang.pojo.TruckCar" parent="car" primary="true" >
        <property name="loadWeight" value="100000"/>
    </bean>

    <bean id="objectFactory" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">
        <property name="targetBeanName" value="car" />
    </bean>


    <bean id="userService" class="com.tang.di.temp.service.impl.UserServiceImpl"/>

    <bean id="userControllerByConstruction" class="com.tang.di.temp.api.UserControllerByConstruction" >
        <constructor-arg name="userService3" ref="userService"></constructor-arg>
    </bean>

    <bean id="userControllerBySetter" class="com.tang.di.temp.api.UserControllerBySetter" >
        <property name="userService3" ref="userService"/>
    </bean>

    <!--<context:component-scan base-package="com.tang.di"></context:component-scan>-->
    <!--<context:annotation-config></context:annotation-config>-->
</beans>